.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1C1B1F;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  overflow: hidden;
}

h1{
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 24px;
  }
}